.dropdown-list {
    background-color: white;
    position: absolute;
    width: 100%;
    border: 1px solid #eee;
    border-top: none;
    box-sizing: border-box;
}


.dropdown-item {
    padding: 10px;
}