<div class="product">
    <div class="product-img">
        <img [src]="product.mainPic" alt="">
    </div>
    <div class="product-desc flex space-between">
        <div>
            <div class="product-name">
                {{ product.name }}
            </div>
            <div class="flex">
                <div class="desc">
                    {{ product.brandName }}
                </div>
            </div>
            <div class="product-extra">
                <div class="cool" *ngIf="product.additionalProperties.cool">
                    cool
                </div>
                <div class="cool" *ngIf="product.additionalProperties.new">
                    new
                </div>
            </div>
        </div>
        <div>
            <div class="price">
                {{ product.salePrice || product.price }}$
            </div>
            <div *ngIf="product.salePrice" class="sale-price">
                {{ product.price }}$
            </div>
            <div *ngIf="product.salePrice" class="sale-precent">
                {{ product.salePrecent }}
            </div>
        </div>
    </div>
</div>
