<div class="store">
    <div class="store-header">
        <div>
            <app-store-logo [logo]="store.logo"></app-store-logo>
        </div>
        <div class="store-name flex align-center justify-center">
            <div class="text-logo">
                <img [src]="store.textLogo" alt="">
            </div>
            <div class="store-name-text">
                {{ store.name }}
            </div>
        </div>
    </div>
    <div class="producst-list-wrapper">
        <div class="filter-sort flex space-around">
            <div class="filter btn">
                {{ $t('filterBy') }}
            </div>
            <!-- <div class="sort btn">
                {{ $t('sortBy') }}
            </div> -->
            <app-dropdown 
                [dropdownLabel]="$t('sortBy')" 
                (selected)="onSortSelected($event)"
                [items]="store.sortBy"
            >
            </app-dropdown>
        </div>
        <div class="products-num flex justify-center">
            {{ getStoreProductsAmount() }} {{ $t('items') }}
        </div>
        <app-products-list [products]="filteredProducts"></app-products-list>
    </div>
</div>
